@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* =========================
     COLORS
  ========================= */

  /* Neutral */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Blue */
  --color-blue-950: #202733;
  --color-blue-900: #313a48;
  --color-blue-600: #4f5d74;
  --color-blue-200: #cee3e9;

  /* Green */
  --color-green-300: #53ffaa;
  --color-green-200: #a6ffd6;

  --bg-primary-color: var(--color-blue-950);
  --bg-secondary-color: var(--color-blue-900);

  /* =========================
     TYPOGRAPHY
  ========================= */

  --font-primary: "Manrope", sans-serif;

  /* Font Weights */
  --font-weight-extrabold: 800;

  /* Text Preset 1 */
  --text-preset-1-size: 1.75rem; /* 28px */
  --text-preset-1-line-height: 1.35;
  --text-preset-1-letter-spacing: -0.01875rem; /* -0.3px */

  --text-preset-1: var(--font-weight-extrabold) var(--text-preset-1-size) / var(--text-preset-1-line-height) var(--font-primary);

  /* Text Preset 2 */
  --text-preset-2-size: 1.5rem; /* 24px */
  --text-preset-2-line-height: 1.35;
  --text-preset-2-letter-spacing: -0.01875rem; /* -0.3px */

   --text-preset-2: var(--font-weight-extrabold) var(--text-preset-2-size) / var(--text-preset-2-line-height) var(--font-primary);

  /* Text Preset 3 */
  --text-preset-3-size: 0.8125rem; /* 13px */
  --text-preset-3-line-height: 1.35;
  --text-preset-3-letter-spacing: 0.25rem; /* 4px */

  --text-preset-3: var(--font-weight-extrabold) var(--text-preset-3-size) / var(--text-preset-3-line-height) var(--font-primary);

  /* =========================
     SPACING
  ========================= */

  --spacing-0: 0;
  --spacing-200: 1rem;     /* 16px */
  --spacing-300: 1.5rem;   /* 24px */
  --spacing-400: 2rem;     /* 32px */
  --spacing-500: 2.5rem;   /* 40px */
  --spacing-800: 4rem;

  /* =========================
     RADIUS
  ========================= */
  --radrius-10: 0.625rem;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: var(--bg-primary-color);
}

.main-card {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   background: var(--bg-secondary-color);

   max-width: 343px;
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   gap: var(--spacing-400);

   padding: var(--spacing-500) var(--spacing-300) var(--spacing-800);

   border-radius: var(--radrius-10);

   position: relative;
}

.text-container {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);
}

.title-text {
   font: var(--text-preset-3);
   letter-spacing: var(--text-preset-3-letter-spacing);
   color: var(--color-green-300);

   text-align: center;
}

.advice-text {
   font: var(--text-preset-2);
   letter-spacing: var(--text-preset-2-letter-spacing);
   color: var(--color-blue-200);

   text-align: center;
}

.button-container {
   background: var(--color-green-300);
   border: none;

   width: 64px;
   height: 64px;
   border-radius: 999px;

   display: flex;
   align-items: center;
   justify-content: center;
   
   position: absolute;
   top: calc(100% - 30px);
}

.button-container:hover {
   box-shadow: 0px 0px 40px 0px #53FFAA;
}

.button-container:focus-visible {
   outline: 3px solid var(--color-green-300);
   outline-offset: 4px;
}

.button-container:active {
  transform: scale(0.95);
}

/* Loading State */

.button-container:disabled {
   background: var(--color-green-200);
}
